.App {
  background-color: brown;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  
}
.child1 {
  background-color: pink;
  width: 25vw;
  height: 20vh;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.child2 {
  background-color:blue;
  width: 25vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child3 {
  background-color:yellow;
  width: 25vw;
  height: 20vh;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  background-color: white;
  font-weight: bold;
}